#navbar
{
    border-radius: 0px;
    background: #212F3C;
    border-style: none;
    font-family: 'Questrial';
    font-size: 16px;
}
body
{
    /*padding-top: 50px;*/
    overflow-x: hidden;
    overflow-y: scroll;
}
#brandImage
{
    width: 100px; 
    margin-top: -40px;
}


.navbar a
{
    color: #C28E0E !important;
}

.navbar a:hover
{
    color: #98700D !important;
}

.navbar-brand
{
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

#navEvents
{
    transform: translateX(-50%);
    left: 40%;
    position: absolute;
}

#navAbout
{
    transform: translateX(-50%);
    left: 30%;
    position: absolute;
}

#navLeadership
{
    transform: translateX(-50%);
    left: 60%;
    position: absolute;
}

#navContact
{
    transform: translateX(-50%);
    left: 70%;
    position: absolute;
}


.slideshow {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  margin-right: 0px;
  /*max-width: 100%;*/
}
.images {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../css/pjimage.jpg");
  background-size: cover;
  background-repeat: repeat;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 300%;
  animation: slideshow 100s linear infinite;
    
  transform: translate3d(0, 0, 0);
}
@keyframes slideshow {
  0%    { left: 0; }
  100%  { left: -200%; }
}

@keyframes moveSlideshow {  
  100% { 
    -webkit-transform: translateX(-200%);  
  }
}

#titleDiv
{
    text-align: center;
    top: 15%;
}
#title
{
    color: white;
     text-shadow: -1px 0 #C28E0E, 0 1px #C28E0E, 1px 0 #C28E0E, 0 -1px #C28E0E;
    font-family: 'Questrial';
    font-size: 64px;
    border-bottom: 2px white solid;
    padding-bottom: 15px;
    border-top: 2px white solid;
    padding-top: 15px;

    
}

#mottoDiv
{
    text-align: center;
    top: 20%;
}

#motto
{
    color: white;
     text-shadow: -1px 0 #C28E0E, 0 1px #C28E0E, 1px 0 #C28E0E, 0 -1px #C28E0E;
    font-family: 'Questrial';
    font-size: 24px;
}

#btnRush
{
    top: 30%;
    text-align: center;
}

#Rush
{
    width: 15%;
    height:auto;
    background-color: transparent;
    color: white;
    border: white solid;
    border-width: 1.5px;
    transition: 0.3s;
    cursor: not-allowed;
}

#phoenixDiv
{
    top: 25%;
    text-align: center;
}
#phoenix1
{
    width:200px;
    height:auto;
}
#Rush:hover
{
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    transition: 0.2s;
}

.About {
  position: relative;
  overflow: hidden;
    height: 430px;
    width: 100%;
    /*left: 50vw;*/
    /*margin-left: -200px;*/
    /*max-width: 1920px;*/
    text-align: center;
    font-family: 'Questrial';
    background-color: #8EA5BD;
}

#aboutTitle
{
    margin-bottom: 30px;
    color: #212F3C;
    /*width: 100vw;*/
}

#spanId1
{
    width: 11vw;
    height: 100px;
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: 100px;
    background-color: #526981;
    color: #D4EBFF;
}

#spanId2
{ 
    width: 11vw;  
    height: 100px;
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: 100px;
    background-color: #5C738B;
    color: #D4EBFF;
}

#spanId3
{
    width: 11vw;  
    height: 100px;
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: 100px;
    background-color: #667D95;
    color: #CAE1F9;
}

#spanId4
{
    width: 11vw;  
    height: 100px;
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: 100px;
    background-color: #70879F;
    color: #C0D7EF;
}
#pillars
{
    
}

#aboutDescription
{
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    color: #212F3C;
}

.container
{
    width: 100vw;
    background-color: #C0D7EF;
    border-left: white;
    border-right: white;
    margin-top: 20px;
}

.Events
{
    position: relative;
    overflow: hidden;
    height: 1000px;
    max-width: 1920px;
    text-align: center;
    font-family: 'Questrial';
    background-color: #F7F7F7;
}   

#changeInfo
{
    
    height: 300px;
}

#changeBlock
{
    height: 100%;
    text-align: left;
    background-color: white;
    border-left-color: #FFC966;
}

#indyBlock
{
    height: 100%;
    background-color: white;
    border-right-color: #C0D7EF;
}

#startupBlock
{
    height: 100%;
    text-align: left;
    background-color: white;
    border-left-color: #c4fcc4;
}
#changemakersPic
{
    background-color: #ffc966;
    height: 300px;
}

#changePic
{
    height: 300px;
    width: auto;
}

#indyInfo
{
    
    height: 300px;
}

#indyPic
{
    background-color: #C0D7EF;
    height: 300px;
}

#skyline
{
    height: 300px;
    width: auto;
}

#startupInfo
{
    
    height: 300px;
}

#startupPic
{
    background-color: #c4fcc4;
    height: 300px; 
}

#startPic
{
    width: 100%;
    height: auto;
    margin: none;
    padding-top: 70px;
}

.Leadership
{
    position: relative;
    overflow: hidden;
    /*height: 878px;*/
    
    min-height: 878px;
    height: auto;
    max-width: 1920px;
    text-align: center;
    font-family: 'Questrial'; 
    background-color: #FFCCCC;
    color: white;

}

#positionImage
{

    width: 150px;
    height: 150px;
    -webkit-border-radius: 150px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 150px;
/*    margin-right: 50px!important;
    margin-left: 50px!important;*/
    -moz-background-clip: padding;
    border-radius: 150px;
    background-clip: padding-box;
    margin: 7px 0 0 5px;
    /*float: left;*/
    background-size: cover;
    margin-top: 50px;
    background-position: center center;
    /*height: 200px;
    border-radius: 50%;
    border-width: 50px;
    border-color: white;
    padding-top: 50px;*/
}



#top
{
    background-color: #FFB2B2;


}

#mid
{
    background-color: #FF9999;
    /*padding-bottom: 1px;*/
}

#bot
{
    background-color: #FF7F7F;
    /*padding-bottom: 1px;*/
}

.Contact
{
    position: relative;
    overflow: hidden;
    height: 180px;
    max-width: 1920px;
    text-align: center;
    font-family: 'Questrial'; 
    background-color: #212F3C;
    color: #C28E0E !important;
}

#social
{
    font-size: 32px;
    padding-left: 10px;
    padding-right: 10px;  
    color: #C28E0E !important;
}

#social:hover
{
    color: #98700D !important;
    cursor: pointer;
}

.a:hover
{
    color: black;
}

#rush{
   z-index: 5;
   display: inline-block;
   position: absolute;
   top: 72.5%;
   left: 50%;
   width: 300px;
   height: 50px;
   margin-left: -150px;
   overflow-x: hidden;
   /*text-align: center;*/
 }
 #rush_here{
   border-color: white;
   color: white;
   width: 100%;
   height: 100%;
   background-color: transparent;
   font : normal 400 20px 'Josefin Sans', sans-serif;
   /*text-align: center;*/
   /*display: inline-block;*/
   
   /*bottom: 0;*/
   /*text-shadow: none;*/
   /*position: absolute;*/
 }
 
 #rush_here:hover {
   color: black;
   background-color: white;
 }
 #down{
   top: 50%;
   /*display: inline-block;*/
   left: 50%;
   width: 200px;
   margin-left: -100px;
 }
 #down a {
   position: absolute;
   /*top: 100%;*/
   left: 50%;
   width: 200px;
   margin-left: -100px;
   text-align: center;
   z-index: 2;
   display: inline-block;
   -webkit-transform: translate(0, -50%);
   transform: translate(0, -50%);
   color: #fff;
   font : normal 400 20px/1 'Josefin Sans', sans-serif;
   letter-spacing: .1em;
   text-decoration: none;
   transition: opacity .3s;
 }
 #down a:hover {
   opacity: .5;
   color: white;
   text-decoration: none;
 }
 
 #scroll a {
   padding-top: 60px;
 }
 
 #scroll a span {
   position: absolute;
   top: 0;
   left: 50%;
   width: 30px;
   height: 30px;
   margin-left: -15px;
   border-left: 1px solid #fff;
   border-bottom: 1px solid #fff;
   -webkit-transform: rotate(-45deg);
   transform: rotate(-45deg);
   box-sizing: border-box;
 }

 .modal.fade .modal-dialog {
  transform: translate3d(0, 100vh, 0)!important;
  transition: 0.6s!important;
}

.modal.in .modal-dialog {
  transform: translate3d(0, 2vh, 0)!important;
  transition: 0.6s!important;
}

#rush_schedule{
  /*background: #456789!important;*/
  background: #667db6!important; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #667db6, #0082c8, #0082c8, #667db6)!important; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #667db6, #0082c8, #0082c8, #667db6)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*border-color: -webkit-linear-gradient(to left, #667db6, #0082c8, #0082c8, #667db6)!important;
  border-color: linear-gradient(to left, #667db6, #0082c8, #0082c8, #667db6)!important;*/
  /*left: 50%;*/
  /*margin-left: -350px;*/
  width: 100%;
  padding-bottom: 70px;
  margin-top: 0px;
  margin-left: none!important;
  
  /*top: 10vh!important;*/
}
ul.main { 
  list-style-type: none!important;
  width: 85.25%;
  /*padding: 0px;*/
  /*max-width: 75%;*/
  /*margin: 20px auto;*/
  /*left: 50%;*/
  /*margin-left: 100px;*/
  color: white;
  display: flex!important;
  text-align: center;
  border-color: white;
  border-width: 5px!important;
  z-index: 30;
  border-style: solid;
  padding-bottom: 30px;
  margin: 0px;
  margin-left: 7.375%;
  margin-top: 12%;
  

}

h3 {
  padding: 0;
  margin: 0;
  color: white;
}


.date {
  width: 17%;
  padding: 15% 1% 0 0 ;
  /*float: left;*/
}

.date h3 {
  font-size: 1.5em;
}

.date p {
  font-size: .8em;
}

.events {
  /*float: left;*/
  width: 80%;
  margin-top: 5%;
  padding-top: 3%;
  color: white;
}

.events-detail {
  max-width: 550px;
  list-style: none;
}

.events-detail li{
  padding: 10px;
  border-bottom: 1px dashed #ccc;
  line-height: 22px;
  transition: ease .4s all;

}

.events-detail li:hover{
  color: #667db6!important;
  background: #e9e9e9;
  /*opacity: 0.5;*/
  
}

.events-detail li:hover a span{
  color: #667db6!important;
  /*background: #e9e9e9;*/
  /*opacity: 0.5;*/
  
}







.event-name{
  /*width: 100%;*/
  /*margin-left: 25%;*/
  color: #F0F0F0;
  font-size: 30px;
  text-align: center;
}



.event-date {
  /*font-weight: 900;*/
  color: #BDBDBD;
  font-size: 20px;
}
.event-time {
  /*font-weight: 900;*/
  color: #BDBDBD;
  font-size: 20px;
}

.events-detail li a {
  text-decoration: none;
  color: #444;
  width: 100%;
  height: 100%;
  display: block;
  color: white;
}


.event-location {
    /*font-size: .8em;*/
    color: #BDBDBD;
    font-size: 20px;
    /*margin-left: 70px;*/
}



@media all and (max-width: 641px) {
    .date {
      width: 100%;
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px;
    }
  
  .events {
    border:none;
    width: 100%;
    margin-top: 0;
  }
  
  .events-detail {
    padding: 0;
  }
  
  li.date p {
    margin:0;
  }

  .About{
    height: 100vh;
  }

  #spanId1, #spanId2, #spanId3, #spanId4 {

    width: 22vw;
  }

  #pillars{

    font-size: 15px!important;
    margin-left: -3vw;

  } 

  .Events{
    height: 300vh;
  }

  #changeInfo, #startupInfo, #indyInfo{
    height: 330px;
  }

  .row {
    margin-left: 0px!important;
    margin-right: 0px!important;
  }

  .Events.row {
    margin-left: -15px!important;
    margin-right: -15px!important;
  } 

  #rush{
    display: none;
  }

  .navbar{
    margin-bottom: 0px!important;
  }


}

.modal-body{
  padding: 0px!important;
}

.modal-content{
  background: #667db6!important; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #667db6, #0082c8, #0082c8, #667db6)!important; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #667db6, #0082c8, #0082c8, #667db6)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*background-color: #456789!important;*/
  /*background-image: url("assets/images/phoenix-no-bkg.png");*/
      -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important; 
}

.modal-header{
  border-bottom: none!important;
  /*border-color: #456789!important;*/
  background: #667db6!important; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #667db6, #0082c8, #0082c8, #667db6)!important; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #667db6, #0082c8, #0082c8, #667db6)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-color: -webkit-linear-gradient(to left, #667db6, #0082c8, #0082c8, #667db6)!important;
  border-color: linear-gradient(to left, #667db6, #0082c8, #0082c8, #667db6)!important;

}

.modal-footer{
  border-top: none!important;
  /*border-color: #456789!important;*/
    background: #667db6!important; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #667db6, #0082c8, #0082c8, #667db6)!important; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #667db6, #0082c8, #0082c8, #667db6)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-color: -webkit-linear-gradient(to left, #667db6, #0082c8, #0082c8, #667db6)!important;
  border-color: linear-gradient(to left, #667db6, #0082c8, #0082c8, #667db6)!important;
}

.close_modal{

  /*border-color: white;*/
   color: black;
   /*width: 100%;*/
   /*height: 100%;*/
   background-color: white;
   font : normal 400 20px 'Josefin Sans', sans-serif;
   /*text-align: center;*/
   /*display: inline-block;*/
   
   /*bottom: 0;*/
   /*text-shadow: none;*/
   /*position: absolute;*/
}

.close {
    color: white!important; 
    opacity: 1!important;
    border-radius: 0px!important;
}

.modal-title{
  color: white!important;
  opacity: 1!important;
  font-weight: 400!important;
  font-size: 30px!important;
  text-align: center!important;
}



